@import url(../css/font-awesome.min.css);
/* line 1, ../sass/_commons.scss */
body, h1, h2, h3, h4, h5, h6, p {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  color: #222222;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

/* line 8, ../sass/_commons.scss */
.page-header {
  font-weight: 300;
  text-align: center;
}

/* line 12, ../sass/_commons.scss */
.subheader {
  color: #6f6f6f !important;
  font-family: 'Alegreya Sans', sans-serif !important;
  text-align: center;
}

/* line 18, ../sass/_commons.scss */
.white {
  color: white;
}

/* line 21, ../sass/_commons.scss */
.default {
  color: #ff824b;
}

/* line 3, ../sass/_buttons.scss */
a.btn {
  background: transparent;
  border-color: #61d2d6;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -ms-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
/* line 11, ../sass/_buttons.scss */
a.btn.white:hover {
  color: white;
  border-color: #ff824b;
}

/* line 3, ../sass/_layouts.scss */
html, body {
  height: 100%;
}

/* line 8, ../sass/_layouts.scss */
section.flash .flash-container {
  width: 100%;
  height: 100%;
  background: url("../images/darkaurora.png") no-repeat fixed center top transparent;
  background-size: cover;
}
/* line 14, ../sass/_layouts.scss */
section.flash .flash-container .info-container {
  position: relative;
  text-align: center;
  padding: 80px 50px;
}
/* line 20, ../sass/_layouts.scss */
section.flash .flash-container .info-container .info h1 {
  font-family: 'Exo', sans-serif !important;
  font-size: 48px;
  color: #fafafa !important;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.2);
}
/* line 26, ../sass/_layouts.scss */
section.flash .flash-container .info-container .info h3 {
  font-family: 'Nothing You Could Do', cursive !important;
  color: #fafafa !important;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.2);
}
/* line 32, ../sass/_layouts.scss */
section.flash .flash-container .info-container img {
  border-radius: 200px;
  max-width: 200px;
  height: 200px;
  border: #fafafa solid 1px;
}
/* line 39, ../sass/_layouts.scss */
section.flash .flash-container .info-container .navigator {
  text-align: center;
  padding: 40px 40%;
}

/* line 47, ../sass/_layouts.scss */
section.main {
  padding-top: 60px;
  height: 800px;
  background: white;
}
/* line 51, ../sass/_layouts.scss */
section.main .section {
  padding-top: 80px;
  padding-left: 100px;
  padding-right: 100px;
}

/* line 59, ../sass/_layouts.scss */
.main-content {
  margin: 80px 0;
}

/* line 64, ../sass/_layouts.scss */
#aboutme p, #skills p {
  line-height: 2em;
  font-size: 1em;
  padding: 20px;
  color: #707070;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

/* line 78, ../sass/_layouts.scss */
#projects .main-content ul.nav.nav-pills {
  display: inline-block;
}
/* line 81, ../sass/_layouts.scss */
#projects .main-content ul.nav.nav-pills li:hover {
  background: transparent !important;
}
/* line 84, ../sass/_layouts.scss */
#projects .main-content ul.nav.nav-pills li a {
  color: #707070;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -ms-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
/* line 91, ../sass/_layouts.scss */
#projects .main-content ul.nav.nav-pills li a:hover {
  background: transparent !important;
  color: #61d2d6;
}
/* line 96, ../sass/_layouts.scss */
#projects .main-content ul.nav.nav-pills li.active > a {
  background: transparent !important;
  color: #61d2d6;
}
/* line 104, ../sass/_layouts.scss */
#projects ul.project-list {
  list-style: none;
  width: 82%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/* line 111, ../sass/_layouts.scss */
#projects ul.project-list li.project {
  display: inline-block;
  width: 255px;
  background: white;
  margin-right: 20px;
  margin-bottom: 30px;
}
/* line 118, ../sass/_layouts.scss */
#projects ul.project-list li.project .img-container {
  position: relative;
  width: 100%;
  max-height: 300px;
  height: 190px;
}
/* line 124, ../sass/_layouts.scss */
#projects ul.project-list li.project .img-container:hover .overlay {
  display: block;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  -ms-transition: all ease 0.8s;
  -o-transition: all ease 0.8s;
  transition: all ease 0.8s;
}
/* line 133, ../sass/_layouts.scss */
#projects ul.project-list li.project .img-container .image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}
/* line 140, ../sass/_layouts.scss */
#projects ul.project-list li.project .img-container .overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  display: none;
}
/* line 146, ../sass/_layouts.scss */
#projects ul.project-list li.project .img-container .overlay:hover {
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  -ms-transition: all ease 0.8s;
  -o-transition: all ease 0.8s;
  transition: all ease 0.8s;
}
/* line 154, ../sass/_layouts.scss */
#projects ul.project-list li.project .img-container .overlay i {
  color: #61d2d6;
  position: absolute;
  width: 0;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -15px;
}
/* line 165, ../sass/_layouts.scss */
#projects ul.project-list li.project .desc {
  padding: 5px 10px;
}
/* line 167, ../sass/_layouts.scss */
#projects ul.project-list li.project .desc .title {
  font-weight: 500 !important;
  font-size: 20px;
}
/* line 171, ../sass/_layouts.scss */
#projects ul.project-list li.project .desc .overview {
  color: #707070;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
}
/* line 176, ../sass/_layouts.scss */
#projects ul.project-list li.project .desc .overview::after {
  content: "...";
}

/* line 189, ../sass/_layouts.scss */
#contact form .form-control {
  background: #fafafa;
  height: 50px !important;
  border: none;
}
/* line 193, ../sass/_layouts.scss */
#contact form .form-control:active {
  outline: none;
}
/* line 196, ../sass/_layouts.scss */
#contact form .form-control:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}
/* line 202, ../sass/_layouts.scss */
#contact form input.form-control {
  width: 97%;
}
/* line 205, ../sass/_layouts.scss */
#contact form textarea.form-control {
  width: 97%;
  height: 180px !important;
  resize: none;
  overflow: scroll;
}
/* line 212, ../sass/_layouts.scss */
#contact form a.btn {
  background: #61d2d6;
  color: white;
}
/* line 215, ../sass/_layouts.scss */
#contact form a.btn:hover {
  background: #89dee1;
}
/* line 223, ../sass/_layouts.scss */
#contact .social a i {
  color: #ff824b;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
  width: 64px;
  font-size: 1.5714em;
  padding: 19px 0;
  opacity: 1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 237, ../sass/_layouts.scss */
#contact .social a:hover i {
  border: #ff824b solid 2px;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

/* line 251, ../sass/_layouts.scss */
footer p {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

@media (max-width: 768px) {
  /* line 4, ../sass/_responsive.scss */
  section.flash .flash-container .navigator {
    padding: 40px 30% !important;
  }
}
/* line 3, ../sass/_navbar.scss */
.navbar {
  background: white;
}

/* line 9, ../sass/_navbar.scss */
.navbar-brand a,
.navbar-nav li a {
  line-height: 76px;
  height: 76px;
  padding-top: 10px;
  color: #404040 !important;
  font-weight: 300;
  text-transform: uppercase !important;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -ms-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
/* line 21, ../sass/_navbar.scss */
.navbar-brand a:hover,
.navbar-nav li a:hover {
  color: #ff824b !important;
  cursor: pointer;
}
/* line 26, ../sass/_navbar.scss */
.navbar-brand.active,
.navbar-nav li.active {
  border-bottom: #ff824b 2px solid;
}
/* line 28, ../sass/_navbar.scss */
.navbar-brand.active a,
.navbar-nav li.active a {
  color: #ff824b !important;
  background-color: transparent !important;
}
