/* line 1, ../sass/timeline/_layout.scss */
.timeline {
  position: relative;
  overflow: hidden;
}
/* line 5, ../sass/timeline/_layout.scss */
.timeline::before {
  width: 1px;
  top: 0;
  left: 50%;
  height: 100%;
  content: "";
  position: absolute;
  background: #626262;
  margin-left: -1px;
}
/* line 16, ../sass/timeline/_layout.scss */
.timeline .period {
  position: relative;
}
/* line 18, ../sass/timeline/_layout.scss */
.timeline .period .year {
  position: absolute;
  width: 110px;
  border-radius: 5px;
  top: -40px;
  left: 50%;
  margin-left: -55px;
  background: #86abd7;
  padding: 10px 15px;
  color: white;
  font-size: 16px;
  line-height: 16px;
  font-family: inherit;
  font-weight: 400;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.2);
  text-align: center;
}
/* line 35, ../sass/timeline/_layout.scss */
.timeline .period .item {
  margin: 0;
  padding: 0;
  min-height: 150px;
  position: relative;
  margin-top: 40px;
}
/* line 42, ../sass/timeline/_layout.scss */
.timeline .period .item.odd .marker {
  top: 80px;
}
/* line 48, ../sass/timeline/_layout.scss */
.timeline .period .item.even .marker {
  top: 25px;
}
/* line 53, ../sass/timeline/_layout.scss */
.timeline .period .item:first-child {
  margin-top: 0;
}
/* line 57, ../sass/timeline/_layout.scss */
.timeline .period .item .marker {
  width: 38px;
  height: 38px;
  border-radius: 38px;
  border: #86abd7 10px solid;
  position: absolute;
  left: 50%;
  margin-left: -19px;
  background: #fafafa;
}
/* line 70, ../sass/timeline/_layout.scss */
.timeline .period .item .content {
  width: 512px;
  min-height: 150px;
  background: #fafafa;
  border-radius: 10px;
  padding: 20px 20px;
}
/* line 77, ../sass/timeline/_layout.scss */
.timeline .period .item .content.left::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 89px;
  left: 512px;
  border-top: 10px solid transparent;
  border-left: 10px solid #fafafa;
  border-bottom: 10px solid transparent;
}
/* line 91, ../sass/timeline/_layout.scss */
.timeline .period .item .content.right {
  float: right;
}
/* line 94, ../sass/timeline/_layout.scss */
.timeline .period .item .content.right::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 34px;
  right: 512px;
  border-top: 10px solid transparent;
  border-right: 10px solid #fafafa;
  border-bottom: 10px solid transparent;
}
/* line 109, ../sass/timeline/_layout.scss */
.timeline .period .item .content .desc .title {
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  color: #93cbc0;
}
/* line 116, ../sass/timeline/_layout.scss */
.timeline .period .item .content .desc .subtitle {
  font-family: 'Alegreya Sans', sans-serif !important;
  color: #6c6c6c;
  margin: 5px 0;
}
