@import "variables";

.navbar {
  background: $color-white;
}

.navbar-brand,
.navbar-nav li {
  a {
    line-height: 76px;
    height: 76px;
    padding-top: 10px;
    color: $color-nav-link !important;
    font-weight: 300;
    text-transform: uppercase !important;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    transition: all ease 0.2s;
    &:hover {
      color: $color-default !important;
      cursor: pointer;
    }
  }
  &.active{
    border-bottom: $color-default 2px solid;
    a{
      color: $color-default !important;
      background-color: transparent !important;
    }
  }
}

