body, h1, h2, h3, h4, h5, h6, p {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  color: #222222;
  font-weight: normal;
  -webkit-font-smoothing: antialiased; }

.page-header {
  font-weight: 300;
  text-align: center; }

.subheader {
  color: #6f6f6f !important;
  font-family: 'Alegreya Sans', sans-serif !important;
  text-align: center; }

.white {
  color: white; }

.default {
  color: #ff824b; }

a.btn {
  background: transparent;
  border-color: #61d2d6;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -ms-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s; }
  a.btn.white:hover {
    color: white;
    border-color: #ff824b; }

html, body {
  height: 100%; }

section.flash .flash-container {
  width: 100%;
  height: 100%;
  background: url("../images/darkaurora.png") no-repeat fixed center top transparent;
  background-size: cover; }
  section.flash .flash-container .info-container {
    position: relative;
    text-align: center;
    padding: 80px 50px; }
    section.flash .flash-container .info-container .info h1 {
      font-family: 'Exo', sans-serif !important;
      font-size: 48px;
      color: #fafafa !important;
      text-shadow: 1px 1px rgba(255, 255, 255, 0.2); }
    section.flash .flash-container .info-container .info h3 {
      font-family: 'Nothing You Could Do', cursive !important;
      color: #fafafa !important;
      text-shadow: 1px 1px rgba(255, 255, 255, 0.2); }
    section.flash .flash-container .info-container img {
      border-radius: 200px;
      max-width: 200px;
      height: 200px;
      border: #fafafa solid 1px; }
    section.flash .flash-container .info-container .navigator {
      text-align: center;
      padding: 40px 40%; }

section.main {
  padding-top: 60px;
  height: 800px;
  background: white; }
  section.main .section {
    padding-top: 80px; }

.main-content {
  margin: 80px 0; }

#aboutme p, #skills p {
  line-height: 2em;
  font-size: 1em;
  padding: 20px;
  color: #707070;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center; }

#projects .main-content ul.nav.nav-pills {
  display: inline-block; }
  #projects .main-content ul.nav.nav-pills li:hover {
    background: transparent !important; }
  #projects .main-content ul.nav.nav-pills li a {
    color: #707070;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    transition: all ease 0.2s; }
    #projects .main-content ul.nav.nav-pills li a:hover {
      background: transparent !important;
      color: #61d2d6; }
  #projects .main-content ul.nav.nav-pills li.active > a {
    background: transparent !important;
    color: #61d2d6; }
#projects ul.project-list {
  list-style: none;
  width: 100%; }
  #projects ul.project-list li.project {
    display: inline-block;
    width: 255px;
    background: #fafafa;
    margin-right: 20px;
    margin-bottom: 30px; }
    #projects ul.project-list li.project .img-container {
      position: relative;
      width: 100%;
      max-height: 300px;
      height: 190px; }
      #projects ul.project-list li.project .img-container:hover .overlay {
        display: block;
        -webkit-transition: all ease 0.8s;
        -moz-transition: all ease 0.8s;
        -ms-transition: all ease 0.8s;
        -o-transition: all ease 0.8s;
        transition: all ease 0.8s; }
      #projects ul.project-list li.project .img-container .image {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0; }
      #projects ul.project-list li.project .img-container .overlay {
        position: absolute;
        background: rgba(0, 0, 0, 0.1);
        width: 100%;
        height: 100%;
        display: none; }
        #projects ul.project-list li.project .img-container .overlay:hover {
          -webkit-transition: all ease 0.8s;
          -moz-transition: all ease 0.8s;
          -ms-transition: all ease 0.8s;
          -o-transition: all ease 0.8s;
          transition: all ease 0.8s; }
    #projects ul.project-list li.project .desc .title {
      font-weight: 500;
      font-size: 20px;
      font-family: "Open Sans" sans-serif; }
    #projects ul.project-list li.project .desc .overview {
      color: #707070;
      font-family: "Open Sans", sans-serif;
      -webkit-font-smoothing: antialiased;
      font-size: 16px; }
      #projects ul.project-list li.project .desc .overview::after {
        content: "..."; }

#contact form .form-control {
  background: #fafafa;
  height: 50px !important;
  border: none; }
  #contact form .form-control:active {
    outline: none; }
  #contact form .form-control:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent; }
#contact form input.form-control {
  width: 97%; }
#contact form textarea.form-control {
  width: 97%;
  height: 180px !important;
  resize: none;
  overflow: scroll; }
#contact form a.btn {
  background: #61d2d6;
  color: white; }
  #contact form a.btn:hover {
    background: #89dee1; }
#contact .social a i {
  color: #ff824b;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
  width: 64px;
  font-size: 1.5714em;
  padding: 19px 0;
  opacity: 1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
#contact .social a:hover i {
  border: #ff824b solid 2px;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05); }

footer p {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased; }

@media (max-width: 768px) {
  section.flash .flash-container .navigator {
    padding: 40px 30% !important; } }
.navbar {
  background: white; }

.navbar-brand a,
.navbar-nav li a {
  line-height: 76px;
  height: 76px;
  padding-top: 10px;
  color: #404040 !important;
  font-weight: 300;
  text-transform: uppercase !important;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -ms-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s; }
  .navbar-brand a:hover,
  .navbar-nav li a:hover {
    color: #ff824b !important;
    cursor: pointer; }
.navbar-brand.active,
.navbar-nav li.active {
  border-bottom: #ff824b 2px solid; }
  .navbar-brand.active a,
  .navbar-nav li.active a {
    color: #ff824b !important;
    background-color: transparent !important; }
